@font-face {
    src: url('../fonts/Roboto-Light.ttf');
    font-family: "Roboto Light";
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", Helvetica, Arial, sans-serif;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 700px) {

    /* For mobile phones: */
    body {
        font-size: 24px;
    }
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
}

.content-block {
    padding: 15px;
}

.section-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-rows {
    display: flex;
    flex-direction: column;
}

.section-container__header {
    color: #959799;
}

.section-container,
.section-container-text {
    margin: 0 10px 0 10px;
    line-height: 1.5;
}

.section-container-text p {
    margin: 0;
}

.section-container-text ul {
    margin-top: 0px;
    margin-bottom: 30px;
}

.section-container-text li {
    list-style: none;
}

.section-container-text li::before {
    content: "— ";
    margin-left: -15px;
}