@font-face {
    src: url('../fonts/Roboto-Light.ttf');
    font-family: "Roboto Light";
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", Helvetica, Arial, sans-serif;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 700px) {

    /* For mobile phones: */
    body {
        font-size: 24px;
    }
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
}

.content-block {
    padding: 10px;
}

.content-block-container {
    padding: 0px;
}

.section-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-rows {
    display: flex;
    flex-direction: column;
}

.section-text {
    padding: 0px;
}

.section-text__header {
    color: #959799;
}

.section-text-container {
    margin-left: 10px;
}

.section-text-container p {
    margin-bottom: 0px;
}

.section-text-container ul {
    margin-top: 0px;
    margin-bottom: 30px;
}

.section-text-container li {
    list-style: none;
}

.section-text-container li::before {
    content: "— ";
    margin-left: -15px;
}

.section-text-container__chapter {
    color: #959799;
    font-weight: bold;
    margin-top: 20px;
}

.section-photo {
    padding-right: 30px;
}

.profile-image {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}

.key-skill-item {
    width: auto;
    margin: 0 12px 12px 0;
    display: inline-block;
}

.key-skill-item_text {
    background-color: #edeff0;
    line-height: 2rem;
    border: 1px solid transparent;
    
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 0 6px;
    border-radius: 6px;

    display: inline-block;
}

.section-education-year {
    width: 100px;
}